@import url('https://fonts.googleapis.com/css2? family= Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000 & display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    }

.logo {
    width: 90px;
    height: auto;
}

.nav-link.active {
    text-decoration: underline;
}


.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.container-color {
    background-color: rgba(186, 132, 33, 0.142);
}

.caja1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0 20px 0 20px;
}

.imagen__principal {
    margin: 20px 0 20px 0;
    max-width: 100%;
    height: auto;
}

.tarjetas__inicio {
    display: flex;
    flex-direction: column;
    padding: 20px 60px 60px 60px;
    gap: 30px;
    justify-content: center;
}

.tarjeta__inicio {
    background-color: rgba(196, 129, 63, 0.567);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.tarjeta__texto--inicio {
    text-align: center;
    padding-inline: 20px;
}

.tarjeta__imagen {
    max-width: 100%;
    height: auto;
}

.subtitulo__inicio {
    padding-block: 30px 0 20px 0;
}


.caja1 h1, h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 1rem;
}

.caja1 h2 {
    color: rgb(176, 123, 53);
}


.caja1 p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.nosotros {
    background-image: url(../img/1000_F_443553257_2CGHvyBZ4zOoAdpgaAAQUxW3frEpwFbJ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


    
.caja1 span {
    color: rgb(209, 159, 93);
}

.pie {
    padding: 1rem;
    background-color: rgba(186, 132, 33, 0.142);
}

.pie__pagina {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: small;
    
   text-align: center;
   justify-content: space-between;
  }
@media (min-width: 801px) {
    .caja1 {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

.tarjetas__inicio {
    flex-direction: row;
}

.tarjeta__inicio {
    width: calcl(33.33% - 40px);
}

.tarjeta__texto--inicio {
    padding: 0;
}
}



@media (min-width: 801px) {
    .pie {
        flex-direction: row;
        justify-content: space-between;
    }

    .pie__pagina {
        flex-direction: row;
    }
}