@import url('https://fonts.googleapis.com/css2? family= Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000 & display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

.logo {
    width: 90px;
}

.nav-link.active {
    text-decoration: underline;
}


.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.container-color {
    background-color: rgba(176, 123, 53, 0.061);
}

.caja1 {
    display: flex;
    padding-inline: 200px;
}

.cajaimg {
    margin: 20px 0 20px 0;
}

.caja1 h1, h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 1rem;
}

.caja1 h2 {
    color: rgb(176, 123, 53);
}

.caja1 p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}
    
.caja1 span {
    color: rgb(209, 159, 93);
}

.pie {
    background-color: rgba(176, 123, 53, 0.061);
    
}