.caja1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0 20px 0 20px;

        .caja1 h1, h2 {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 900;
            text-align: center;
            margin: 1rem;

            .caja1 span {
                color: rgb(197, 141, 68);
            }
        }

        .caja1 p {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 300;
            text-align: center;
        }
    }

    .contenedor__textos--home {
        max-width: 700px;  
        margin: 25px;

        .subtitulo__home {
            display: flex;
            justify-content: center;
            text-align: center;
            color: rgb(197, 141, 68);
        }
    
        .texto__home {
            color: rgb(0, 0, 0);
            font-weight:bolder;
        }
    }


  
       