.pie {
    padding: 1rem;
    background-color: rgba(186, 132, 33, 0.142);
}

.pie__pagina {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: small;
    
   text-align: center;
   justify-content: space-between;
  }